@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

.text-monsterrat > * {
    font-family: 'Montserrat', sans-serif;
}

.hero-foot {
    padding-bottom: 1rem;
}

.contact-card-content {
    padding: 0px 5px 5px;
}

.center-box {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.max-width-30 {
    max-width: 400px;
}

.min-width-50 {
    min-width: 50%;
}

.td-padding-15 td {
    padding: 0px 15px;
}

.navbar-burger span {
    color: #FFFFFF;
}